<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Subscriptions</title>
</head>
<body>
	<a href="/home">Home</a>
	<a href="/events">Events</a>
	<hr />
	
	<h1>Subscriptions</h1>
	<ul>
	<% for(var i=0; i< subscriptions.length; i++) {%>
	   <li><%= subscriptions[i] %></li>
	<% } %>
	</ul>
</body>
</html>
